#page {
  size: auto;
  width: 19cm;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Verdana, Arial, Sans-Serif;
  text-align: left;
  background-color: white;
  font-size: 10pt;
  background-image: none;
  color: #303030;
}

body #cols, input, textarea {
  font-family: Verdana, Arial, Sans-Serif;
  width: 19cm;
}
.clear {
  clear: both;
}
.paragraph {
  margin: 0.55em 0 1em 0;
}
small {
  font-size: 100%;
}
h1 {
  margin: 0.55em 0 0 0;
  font-size: 110%;
  font-weight: bold;
  line-height: 120%;
}
.home h1 {
  margin: 0.48em 0;
  font-size: 120%;
}
h2 {
  margin: 1.4em 0 0 0;
  font-size: 100%;
  font-weight: bold;
}
h3 {
  margin: 0 0 0.5em 0;
  font-size: 110%;
  font-weight: bold;
}
.home h3 {
  margin: 0;
  font-size: 100%;
}
h4 {
  margin: 0.5em 0 1em 0;
  font-size: 100%;
  font-weight: bold;
}
div.caption {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}
#col-content div.date {
  margin: 0.75em 0 0 0;
  padding: 0;
  font-weight: bold;
}
.right {
  float: right !important;
}
.acc {
  display: none !important;
}
#cols div.teaser {
  margin: 0 0 0.75em 0;
}
.home #cols div.teaser {
  margin: 0.3em 0 0 0;
}
.home #col-teaser {
  margin: 0 0 0 2em;
}
#cols div.paging {
  margin: 0.75em 0;
}
#cols ul {
  margin: 1em 0;
  padding: 0 0 0 1.5em;
}
#cols div.linklist ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.home #cols div.linklist ul {
  margin: 0.15em 0 0 0;
}
#cols div.linklist li {
  position: relative;
  padding: 0.1em 0 0.5em 1.5em;
}
#cols div.linklist li a{
  position: relative;
}
#cols ul.download {
  position: relative;
  margin: 0;
  list-style-type: none;
  padding: 0;
}
#cols ul.download li.pdf {
  position: relative;
  padding: 0 0 0 20px;
  font-weight: normal;
  padding:0.2em 0 5px 1.5em !important;
}
#cols ul.download li a {
  font-weight: bold;
  padding:0.2em 0 5px 1.5em !important;
}
#cols li {
  margin: 0 0 0.05em;
  padding: 0;
}
#col-content div {
  margin: 0;
  padding: 0;
}
#col-content div.topteaser {
  margin: 0 0 1em 0;
  width: 13cm;
}
#col-content div.mainteaser {
  margin: 0 0 1em 0;
  width: 13cm;
}
#col-content div.teaser table {
  border-collapse: collapse;
}
#col-content div.teaser td {
  padding: 0;
}
#col-content div.vnav {
  padding: 0;
}
.home #col-content div.intro {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: .9em;
}
#col-content div.intro {
  margin: 1em 0;
  padding: 0;
  font-weight: bold;
  font-size: .9em;
}
#col-content div div {
  margin: 0;
  padding: 0;
  float: none;
}
#col-content .image-left, #col-content .image-square, #col-content .image-right,
#col-content .movie-left, #col-content .movie-square, #col-content .movie-right {
  float: left;
  position: relative;
  top: 0.2em;
  width: 180px;
  margin-right: 1em;
}
#col-content .image-left div, #col-content .image-square div,
#col-content .movie-left div, #col-content .movie-square div {
  margin: 0;
}
#col-content .image-right,
#col-content .movie-right {
  float: right;
  margin: 0 0 1px 20px !important;
}
#col-content .image-right.headline,
#col-content .movie-right.headline {
  margin: 0 0 -1.2em 10px !important;
}
#col-content .image-big,
#col-content .movie-big {
  margin: 1em 0;
}
#col-content .teaserImg {
  float: left;
  margin: 4px 10px 1px 0;
}
#col-content img.zoom {
  margin: 0 0 2px 0;
  border: 0;
  padding: 0;
  float: right;
}
.home #col-content .zoom {
  margin: 0 0 2px 0;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  padding: 10px;
}
.home.boxLeft #col-content .imgShadow,
.home.boxRight #col-content .imgShadow {
  padding: 5px;
  background-color: #FFFFFF;
}
.home.boxLeft #col-content .image-big .imgShadow,
.home.boxRight #col-content .image-big .imgShadow,
.home.boxLeft #col-content .movie-big .imgShadow,
.home.boxRight #col-content .movie-big .imgShadow {
  padding: 8px;
}
#col-content .image-big .imgShadow,
#col-content .image-big .imgShadow,
#col-content .movie-big .imgShadow,
#col-content .movie-big .imgShadow {
  max-height: 9cm !important;
  max-width: 13cm !important;
}
#col-content .enlarge {
  display: none;
}
#col-content #accessoryBox .legend {
  width: 127px;
}
#col-content .image-left br, #col-content .image-square br, #col-content .image-right br,
#col-content .movie-left br, #col-content .movie-square br, #col-content .movie-right br {
  clear: both;
  display: none;
}
#col-content img.imgBorder {
  border: 10px solid #FFFFFF;
}
#col-content img.imgBorderSmall {
  border: 5px solid #FFFFFF;
}
#col-content a.zoom {
  position: relative;
  margin: 0;
  display: block;
}
#col-content a.zoom:hover {
  text-decoration: none;
}
#col-content a.zoom span {
  display: block;
  line-height: 100px;
  text-indent: 10000px;
  overflow: hidden;
}
#col-content .linklist-anchors {
  margin: 0 0 1em 0;
  padding: 0;
}
#col-content .linklist-anchors ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
#col-content .linklist-anchors li,
#col-content .linklist-anchors li.anchor-link {
  font-size: 90%;
  position: relative;
  padding: 0 0 0 15px;
  margin-bottom: 0.3em;
}
#col-content ul.distributor {
  position: relative;
  margin: 0.5em 0 0 0;
  padding: 0.5em 0;
  list-style-type: none;
}
#col-content ul.distributor li {
  position: relative;
  margin: 0;
  padding: 0 0 10px 15px;
}
#col-content .linklist {
  clear: both;
  padding: 0 0 1em 0;
}
#col-content .linklist small {
  font-weight: normal;
}
#col-content .rss {
  margin: 0 0 0.75em 0;
  padding: 0 0 10px 0;
}
#col-content .rss .hr {
  width: auto;
  margin: 0 !important;
  float: none;
}
#col-content .rss .hr hr {
  display: block;
}
#col-content .rss .teaser {
  clear: both;
}
#linkDownload {
  margin: 0;
  padding: 0;
}
.bannerXl .banner img {
  display: block;
  margin: 0 auto;
}
form {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
}
img.flag {
  clear: both;
  float: left;
  margin: 1px 3px 1px 1px;
  vertical-align: top;
}
hr {
  margin-top: 0;
  margin-bottom: 0;
}
.hr {
  clear: both;
  margin: 0 0 0 35px !important;
  height: 1px;
  width: 140px;
  overflow: hidden;
}
.hr hr {
  display: none;
}
input {
  margin: 0px;
  border: 1px solid #92A0A4;
  padding: 2px;
  font-size: 1.1em;
}
input.check, input.checkbox, input.radio {
  width: auto;
  border: 0;
}
input.date {
  width: 6em;
}
textarea {
  height: 5.8em;
  margin: 0px;
  border: 1px solid #92A0A4;
  padding: 2px;
  font-size: 1.1em;
}
input.chkBox {
  width: 15px;
  border: 0;
}
select {
  margin: 0px;
  border: 1px solid #92A0A4;
  padding: 0px;
}
fieldset {
  border: 0;
  padding: 0;
}
legend {
  margin: 0 0 0.75em 0;
  font-size: 1.1em;
  font-weight: bold;
}
#col-content .formfield {
  display: block;
  margin: 0 0 1em 0;
}
.button {
 display: none;
}
#logo {
  width: 180px;
  height: 61px;
  padding: 0;
  margin: 0 0 0 12px;
  display: block;
  float: none;
}
#logo img {
  position: absolute;
  top: 17px;
  display: block;
}
.more {
  position: relative;
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 100%;
}
.error {
  color: red !important;
}
/* Pageinfo */
div.ilink {
  display: none;
}
div.ilink a:link, div.ilink a:visited {
  display: none;
}
#pageinfo {
  display: none;
}
/* PopUp in der Seite */

#overlay {
  display: none;
}
#overlay .background {
  display: none;
}
#overlay iframe {
  display: none;
}

/* in Grafik umgewandelte E-Mailadressen */

a:link.sp-mailto, a:visited.sp-mailto {
  border-width: 0;
  text-decoration: none !important;
}
a:hover.sp-mailto, a:active.sp-mailto {
  border-width: 0 0 1px 0;
  border-style: solid;
  text-decoration: none !important;
}
img.sp-email {
  margin: 0;
  padding: 0 0 1px 0;
  vertical-align: bottom;
}
a.sp-mailto img.sp-email {
  padding: 0 0 2px 0;
}
.box-whead a.sp-mailto img.sp-email, .box-wohead a.sp-mailto img.sp-email {
  padding: 0 0 1px 0;
}

/* Newsdesk */

#col-content .spnd.rssitemimage {
  margin: 2px 0.4em 0.75em 0 !important;
  float: left !important;
}

/* - - - - - - - - - - SCREEN - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Stylesheet für www.wuppertal.de
| sp | 2009-06-10
| 
| Inhaltsverzeichnis:
| - ==reset                   CSS-Reset
| - ==elements                Allg. Elemente
| - ==classes                 Allg. Klassen
| - ==layout                  Layout
| - ==navi_service            Servicenavigation
| - ==languages               Sprachauswahl
| - ==search                  Suche
| - ==civilsearch             Suche bei "Verwaltung A-Z"
| - ==slogan                  Slogan
| - ==footer                  Fußzeile
| - ==navi_main               Hauptnavigation
| - ==box_whead               Infobox mit Kopf
| - ==box_wohead              Infobox ohne Kopf
| - ==bannerbox               Infobox für Banner
| - ==tagcloud                Tagcloud
| - ==teaser                  Teasserbox für Standardteaser
| - ==teaser ===short         Teaserbox für Kurzmeldungen
| - ==teaser ===carousel      Teaser für Bildergalerien, Carousel
| - ==content                 Inhalt
| - ==content ===image        Bild im Inhaltsbereich
| - ==content ===image-right  Bild im Inhaltsbereich rechts
| - ==content ===image-big    Großes Bild im Inhaltsbereich
| - ==content ===movie        Flash-Film im Inhaltsbereich
| - ==content ===movie-right  Flash-Film im Inhaltsbereich rechts
| - ==content ===movie-big    Großer Flash-Film im Inhaltsbereich
| - ==content ===liste        Liste im Inhaltsbereich
| - ==content ===address      Adressenblock im Inhaltsbereich
| - ==content ===linklist     Linkliste im Inhaltsbereich
| - ==content ===separator    Trennlinie
| - ==content ===sitemap      Sitemap
| - ==content ===webform      Webformular
| - ==content ===search       Suche
| - ==content ===pagination   Ergebnisseitennavigation
| - ==presentation            Styles, die für die Präsentation gebraucht werden
| - ==commercials             Werbung
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

a, div, input, label, option, select, textarea {
  font-family: Verdana, Arial, Sans-Serif;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==elements */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==classes */

.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clear {*zoom: 1;/*for ie 5.5-7*/}

.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {*zoom: 1;/*for ie 5.5-7*/}

.acc {
  display: none;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==layout */
  
#header {
  background: none;
  width: 19cm;
  margin-left: 1em !important;
}
#header-wrapper {
  width: 19cm;
}
#header-left {
  background: none;
  width: 19cm;
  padding: 0;
  margin: 0;
}

.playout-4col #header-left {
  display: none;
}

#header-right {
  background: none;
}
#header-bottom {
  display: none;
}
.playout-4col #header-left {
  display: none;
}
#illustration {
  display: none;
}
.shadowMain {
  width: 19cm;
}
.shadowMainTop {
  display: none;
}
.shadowMainBottom {
  display: none;
}
#col-content-teaser-wrapper{
  width: 19cm;
  background-image: none;
  background-color: white;
}
#col-content-teaser-wrapper .shadowMain {
  background-image: none;
  background-color: white;
}
#col-content-teaser-wrapper .copyright {
  width: 13cm;
  clear:both;
  float:left;
  font-size: .7em;
  margin: 1em 0 0 0;
  border-top: 1px solid black;
  line-height: 1.2em;
}
#col-content-teaser-wrapper .copyright .date {
  float: none;
}
#col-content-teaser-wrapper .copyright.noprint {
  display: none;
}
#cols-wrapper {
  position: absolute;
  width: 19cm;
  background: #FFFFFF;
  margin-left: 1em;
}

.playout-4col #cols {
  padding-left: 30px;
}

#cols {
  width: 948px;
  margin: 0 auto;
  padding: 0 0 0 8px;
  background: transparent;
  text-align: left;
}

.playout-4col #cols {
  width: 1138px;
}

#col-navigation {
  display: none;
}
#navipath {
  display: none;
}

#col-content {
  float: left;
  margin: 0 2px 0 4px;
  width: 13cm !important;
  padding: 0;
}

#col-teaser {
  float: left;
  width: 185px;
  margin: 0.7em 0 0 2em;
}

#col-teaser-additional {
  float: left;
  margin-left: 5px; padding-top: 2px;
  width: 185px;
}

#page-underlay {
  position: absolute; bottom: 0; right: 0;
  width: 100%; height: 100%;
}

#print {
  display: none;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==navi_service */

#navigation-service {
  display: none;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==languages */

#languages {
  display: none;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==search */

#search {
  display: none;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==civilsearch */
  
.civil-services-a-z {
  margin: -4px -4px -14px -8px;
}

.civil-services-a-z div.fieldset {
  position: relative;
}

.civil-services-a-z input.submit {
  vertical-align: top;
}

.civil-services-a-z input.text {
  border: 1px solid #D6DEE0;
  font-size: 0.95em;
  line-height: 18px;
  margin-right: 2px;
  padding: 3px 4px 0 4px;
  width: 136px; height: 15px;
}

.civil-services-a-z label.overlabel-apply {
  position: absolute; top: 3px; left: 5px;
}

.civil-services-a-z ol {
  margin: 10px -4px;
}

.civil-services-a-z ol li {
  background: url(../img/box-key.png) no-repeat;
  float: left;
  margin: 1px 1px; padding-top: 1px;
  width: 23px; height: 22px;
  text-align: center;
}

.civil-services-a-z ol li a {
  display: block;
  font-size: 0.8em;
  line-height: 22px;
  text-transform: uppercase;
  background: none;
  width: 23px; height: 22px;
  padding: 0;
}

.civil-services-a-z ul li {
  margin: -5px 0 0 8px;
}

.civil-services-a-z ul li a {
  font-size: 1em;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==slogan */

#slogan {
  display: none;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==footer */
  
#print_footer {
  display: none;
}
  
#footer {
  display: none;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==navi_main */
  
#navigation-main-start {
  display: none;
}

#navigation-main {
  display: none;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==box_whead, ==box_wohead */
  
.box-whead,
.box-wohead,
.box-whead-closed {
  background: none;
  display: inline-block;
  margin-bottom: 10px;
  width: 181px;
}
#col-teaser .box-whead, #col-teaser .box-wohead {
  background: none;
  border-bottom: none;
}
#col-teaser .box-wohead div.head {
  background: none;
  height: 8px;
}

#col-teaser .box-whead div.foot,
#col-teaser .box-wohead div.foot {
  background: none;
  padding-left: 14px;
}

.box-whead div.foot a,
.box-wohead div.foot a {
  background: url(../img/link.png) no-repeat 0 .0625em;
  display: block;
  font-size: .7em;
  margin-top: 12px; padding-left: 15px;
  height: 30px;
}
#cols .box-whead ul.links, #cols .box-wohead ul.links {
  list-style-type:none;
  margin:0;
  padding:2px 0 8px;
}
#cols .box-whead ul.links li,
#cols .box-wohead ul.links li, 
#cols .box-whead ul.links li a, 
#cols .box-wohead ul.links li a  {
  font-size: 0.9em;
  line-height: 1.1em;
}
.box-whead div.topic-b div.image,
.box-wohead div.topic-b div.image {
  margin: 0;
}

.box-whead div.banner div.image {
  text-align: center;
}

.box-whead div.topic-b div.paragraph,
.box-wohead div.topic-b div.paragraph {
  line-height: 1.125em;
}

.box-whead div.topic-b div.paragraph a,
.box-wohead div.topic-b div.paragraph a {
  background: url(../img/link.png) no-repeat 0 0.2em;
  display: block;
  padding-left: 15px;
}

.box-whead div.topic-b h3,
.box-wohead div.topic-b h3 {
  line-height: 1.125em;
  margin: 14px 0 0 0; 
  padding-right: 10px;
  padding-left: 0;
}

.box-whead div.topic-b ul,
.box-wohead div.topic-b ul {
  margin-top: 8px; padding-right: 4px;
}

.box-whead div.topic-b ul li,
.box-wohead div.topic-b ul li {
  border-bottom: none;
  margin-left: 14px;
}

.box-whead div.topic-b ul li.last,
.box-wohead div.topic-b ul li.last {
  border-bottom: none;
}

.box-whead div.topic-b ul li a,
.box-wohead div.topic-b ul li a {
  background: url(../img/link.png) no-repeat 0 .45em;
  display: block;
  height: 1%;
  font-size: .6875em;
  padding: 0.45em 0 0.4em 1.5em !important;
}

.box-whead div.topic-b ul li a.internal,
.box-wohead div.topic-b ul li a.internal {
  background: url(../img/link.png) no-repeat 0 .45em;
}

.box-whead div.topic-b ul li a.external,
.box-wohead div.topic-b ul li a.external {
  background: url(../img/external-link.png) no-repeat 0 .45em;
}

.box-whead div.topic-b ul li a.download,
.box-wohead div.topic-b ul li a.download {
  background: url(../img/icon_download.png) no-repeat 0 .45em;
}

.box-whead div.topic-b ul li a.popup,
.box-wohead div.topic-b ul li a.popup {
  background: url(../img/icon_popup.png) no-repeat 0 .45em;
}
#cols .box-whead, #cols .box-wohead, #cols .box-whead-closed, #cols .box-wohead-closed {
  background: none;
  border-bottom: none;
}

#cols .box-whead-hidden, #cols
.box-whead-closed-hidden {
  display: block;
}

#cols .box-whead h2, #cols
.box-whead-closed h2{
  display: block;
}
#col-teaser .box-whead-hidden h2, #cols
.box-whead-closed-hidden h2{
  display: none;
}
#cols .box-whead-hidden a.minimize, #cols
.box-whead-closed-hidden a.minimize{
  display: none !important;
}
#cols .box-whead-hidden h3, #cols
.box-whead-closed-hidden h3{
  font-size: 90%;
}
.box-whead-closed {
  background: none;
  display: none;
}

#cols #col-teaser .box-whead h2 {
  background: none;
  height: 21px;
  position: relative;
  text-transform: uppercase;
  margin: 0;
}

.box-whead-closed h2 {
  background: none;
  font-size: .6875em;
  height: 26px;
  padding: 13px 0 0 14px;
  position: relative;
  text-transform: uppercase;
}

#cols .box-whead h2 a.button,
#cols .box-whead-closed h2 a.button{
  display: none;
}

#cols .box-whead h2 a.minimize {
  display: none !important;
}

.box-whead-closed h2 a.maximize {
  display: none;
}

.box-whead div.quicklinks ul {
  margin-top: 8px; padding-right: 4px;
}

.box-whead div.quicklinks ul li {
  border-bottom: none;
  margin-left: 14px;
}

.box-whead div.quicklinks ul li.last {
  border-bottom: none;
}

.box-whead div.quicklinks ul li a {
  background: none;
  display: block;
  font-size: .6875em;
  height: 1%;
  padding: 6px 0 6px 15px;
}

.box-whead .topic-b,
.box-wohead .topic-b {
  padding-bottom: 10px;
}

.box-whead .topic-b .contact,
.box-wohead .topic-b .contact {
 margin: 0;
}

.box-whead .topic-b .contact a,
.box-wohead .topic-b .contact a {
  background: url(../img/link.png) no-repeat 0 0.45em;
  display: block;
  height: 1%;
  padding: 0.2em 0 5px 1.5em !important;
}

.box-whead .topic-b .contact a:hover.sp-mailto,
.box-wohead .topic-b .contact a:hover.sp-mailto,
.box-whead .topic-b .contact a:active.sp-mailto,
.box-wohead .topic-b .contact a:active.sp-mailto {
  border: 0;
  text-decoration: underline !important;
}

.box-whead .topic-b .contact.name,
.box-wohead .topic-b .contact.name {
  margin-top: 8px;
  font-weight: bold;
}

.box-whead .topic-b .contact a.external,
.box-wohead .topic-b .contact a.external {
  background: transparent url(../img/external-link.png) no-repeat scroll 0 0.45em;
}

.box-whead .topic-b .contact a.popup,
.box-wohead .topic-b .contact a.popup {
  background: transparent url(../img/icon_popup.png) no-repeat scroll 0 0.45em;
}

.box-whead .topic-b .contact.text,
.box-wohead .topic-b .contact.text {
  padding: 5px 0 5px 0;
}

.box-whead .topic-b .contact.mail a,
.box-wohead .topic-b .contact.mail a {
  background: transparent url(../img/mail.png) no-repeat scroll 0 0.45em;
  padding: 5px 0 5px 15px;
}

.box-whead .topic-b .contact.phone,
.box-wohead .topic-b .contact.phone {
  background: transparent url(../img/phone.png) no-repeat scroll 0px 0.45em;
  padding: 5px 0 5px 17px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==tagcloud */
  
#tagcloud ul {
  margin: 14px 2px 0 2px;
  text-align: center;
  overflow: hidden;
}

#tagcloud li {
  border: none;
  display: inline;
  margin: 0; padding: 0;
}

#tagcloud li a {
  background: none;
  line-height: 1.2em;
  margin: 0; padding: 0;
  white-space: nowrap;
}

#tagcloud li.size-small a {
  font-size: .55em;
}

#tagcloud li.size-medium a {
  font-size: .8em;
}

#tagcloud li.size-large a {
  font-size: 1.05em;
}

#tagcloud li.size-larger a {
  font-size: 1.2em;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ===bannerbox */

.bannerbox .box-whead div.image {
  margin: 0 0 6px 1px;
}

.bannerbox .box-wohead div.image {
  margin: 10px 0 6px 1px;
}

.bannerbox div.foot {
  background: none;
  height: 11px;
  margin-top: 8px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==teaser */
  
.teaser {
  background: none;
  display: block;
  margin-bottom: 10px;
  width: 13cm;
}

.teaser div.about {
  margin: 0 0 0 190px; padding-top: 4px; /* padding in ie.css */
  /* line-height & font-size in ie.css */
}

.teaser div.about .author,
.teaser div.about .date, 
.teaser div.about .divider {
  font-size: .6875em;
  /* line-height & font-size in ie.css */
}

.teaser div.foot {
  background: none;
  height: 35px;
  padding-left: 14px;
  /* line-height & font-size in ie.css */
}

.teaser div.foot a {
  background: url(../img/link.png) no-repeat left center;
  font-size: .7em;
  padding-left: 15px;
}

.teaser div.image {
  float: left;
  height: 125px;
  /* line-height & font-size in ie.css */
}

.teaser div.image a {
  font-size: 0;
  line-height: 0;
}

.teaser div.paragraph {
  margin-left: 190px;
  padding-bottom: 5px;
  padding-right: 2px;
  font-size: .75em;
  line-height: 1.333em;
}

.teaser div.paragraph a {
  font-size: 1em;
}

.teaser h2 {
  position: relative;
  height: 21px;
  padding: 13px 0 0 14px;
  background: url(../img/teaser-top.png) no-repeat;
  font-size: .6875em;
  text-transform: uppercase;
}

.content h1 span.date,
.teaser h2 span.date {
  position: absolute; right: 15px; top: 13px;
}

.teaser h3 {
  margin: 3px 0 6px 0;
  line-height: 1.19em;
}

.teaser li {
  background: none;
  margin: 0 10px 0 2px;
  zoom: 1;
  border: none;
}

.teaser li.hotnews {
  background: #EBD3D3;
}

.teaser-short li {
  background: #F6F5F5;
  border-top: 1px solid #FFF;
  margin: 0 10px 0 2px;
  width: 558px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==teaser ===short */
  
.teaser-short {
  background: url(../img/teaser.png) repeat-y;
  display: inline-block;
  margin-bottom: 10px;
  width: 565px;
}

.teaser-short div.about {
  margin: 2px 0 3px 0; padding: 0 15px;
}

.teaser-short div.about .author,
.teaser-short div.about .date,
.teaser-short div.about .divider {
  font-size: .6875em;
}

.teaser-short div.foot {
  background: url(../img/teaser-bottom.png) no-repeat left bottom;
  height: 35px;
  padding-left: 14px;
}

.teaser-short div.foot a {
  background: url(../img/link.png) no-repeat left center;
  font-size: .7em;
  padding-left: 15px;
}

.teaser-short h2 {
  background: url(../img/teaser-top.png) no-repeat;
  font-size: .6875em;
  height: 20px;
  padding: 14px 0 0 14px;
  position: relative; 
  text-transform: uppercase;
}

.teaser-short h3 {
  margin: 5px 15px 0 15px;
}

.teaser-short h3 a {
  background: url(../img/link.png) no-repeat 0 .25em;
  display: block;
  font-size: .6875em;
  line-height: 1.10em;
  padding: 0 0 10px 15px;
}

.teaser-short li {
  background: #F6F5F5;
  margin: 0 10px 0 2px; padding: 0;
  width: 558px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==teaser ===carousel */

#col-content .gallery-teaser {
  background: none;
  margin-bottom: 10px;
  width: 13cm;
  display: inline-block;
}

.content .gallery-teaser {
  background: none;
}

.gallery-teaser div.carousel-wrapper {
  background: none;
  margin-left: 2px;
  overflow: visible !important;
  position: relative;
  width: 13cm;
  height: auto;
}
#col-content .gallery-teaser div.carousel-wrapper {
  background: none;
  margin-left: 0;
  overflow: visible !important;
  width: 13cm;
  height: auto;
}
#col-content .gallery-teaser div.carousel {
  margin: 0;
  overflow: visible !important;
  height: auto;
  display: block;
  position: relative;
}
.gallery-teaser div.carousel {
  overflow: visible !important;
  margin: 0;
  position: relative;
  left: 1px;
  display: block;
}

#col-content .gallery-teaser div.carousel ul.items {
  width: 14cm !important;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: auto;
}

.gallery-teaser div.carousel ul.items img {
  border: 1px solid #BACDDA;
}

#col-content .gallery-teaser div.carousel ul.items li {
  width: 116px;
  height: 8em;
  margin: 5px 12px;
  margin-right: 0; /* noscript */
  padding-top: 10px;
  float: left;
  font-size: 1em;
  line-height: 1em;
  list-style-type: none;
  overflow: hidden;
}

.gallery-teaser div.carousel ul.items li.last {
  margin-right: 0;
}

.gallery-teaser div.carousel ul.items li div.image {
  width: auto;
  margin: 0;
  padding: 0;
  float: none;
  clear: none;
}

.gallery-teaser div.carousel ul.items li h3 {
  margin: 0;
  padding: 0;
  float: none;
  clear: none;
  font-size: .625em;
  font-weight: normal;
  line-height: 1.20em;
}

.gallery-teaser div.carousel ul.items li h3 a {
  padding: 0 0 10px 15px;
  background: url(../img/link.png) no-repeat 0 2px;
  display: block;
}
.gallery-teaser div.carousel ul.items li h3 a.internal {
  background: url(../img/link.png) no-repeat 0 2px;
}
.gallery-teaser div.carousel ul.items li h3 a.external {
  background: url(../img/external-link.png) no-repeat 0 2px;
}
.gallery-teaser div.carousel ul.items li h3 a.download {
  background: url(../img/icon_download.png) no-repeat 0 2px;
}
.gallery-teaser div.carousel ul.items li h3 a.popup {
  background: url(../img/icon_popup.png) no-repeat 0 2px;
}

.gallery-teaser div.foot {
  background: url(../img/content-bottom.png) no-repeat left bottom;
  height: 35px;
  padding-left: 14px;
}

.content .gallery-teaser div.foot {
  display: none;
}

.gallery-teaser h2 {
  background: url(../img/teaser-top.png) no-repeat;
  font-size: 1em;
  height: 21px;
  padding: 13px 0 0 14px;
  position: relative;
  text-transform: uppercase;
}

.content .gallery-teaser h2 {
  background: transparent;
  height: auto;
  text-transform: none;
}

.carousel-wrapper div.next {
  background: none;
  display: none !important;
}

.carousel-wrapper div.prev {
  background: none;
  display: none !important;
}

.carousel-wrapper ul {
  position: absolute;
  width: 558px; 
}

.carousel-wrapper div.carousel li {
  display: block; 
  float: left;
  margin: 5px 13px 5px 0; padding-top: 10px;
  width: 116px; height: 8em; overflow: hidden;
}

.carousel-wrapper div.carousel li img {
  border: 1px solid #BACDDA;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==content */
  
.content {
  background: none;
  display: inline-block;
  margin-bottom: 10px;
  width: 565px;
}

.content div.foot {
  background: none;
  height: 35px;
  padding-left: 14px;
}

.content div.foot a {
  background: url(../img/link.png) no-repeat left center;
  font-size: .7em;
  padding-left: 15px;
}

.content div.paragraph,
#print_footer div.paragraph {
  font-size: 1em;
  line-height: 1.333em;
}

.content .linklist div.paragraph {
  padding: 0 0 15px 0;
}

.content div.paragraph li {
  font-size: 1em;
}

.content div.intro {
  background: none;
  margin-left: 2px;
  padding: 15px 0 0 0;
  overflow: hidden;
  font-size: .9em;
}

.content div.wrapper {
  margin-left: 2px;
  padding: 0 0 15px 0;
  background: #F5F5F5;
  overflow: hidden;
}

.content h1 {
  position: relative;
  height: 21px;
  padding: 13px 0 13px 0;
  background: none;
  line-height: 1.1em;
}

.content h2 {
  font-weight: bold;
  line-height: 1.375em;
  margin-bottom: 5px;
  padding: 0 15px 0 0;
}

.content h2.intext {
  padding-top: 0;
}

.content h3 {
  clear: both;
  font-size: .75em; font-weight: bold;
  line-height: 1.375em;
  margin-bottom: 10px; padding: 0 15px;
}

.ptype-imprint .content a {
  text-decoration: underline;
}

.ptype-imprint .content h3 {
  margin-bottom: 0;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==content ===image, movie */

.content div.image,
.content div.movie {
  position: relative;
  width: 180px;
  margin: 0 10px 0 0;
  padding: 0 0 10px 15px;
  float: left;
}

.content div.image div.enlarge {
  display: none;
}

.content div.image div.image-wrapper,
.content div.movie div.movie-wrapper {
  float: none;
  margin: 0.2em auto 0 auto;
  position: relative;
  width: 180px;
}

.content div.image div.legend,
.content div.movie div.legend {
  font-size: .625em;
  line-height: 1.1125em;
  margin: 2px auto 0 auto;
  text-align: left;
  width: 180px;
}

#col-content .image div.legend,
#col-content .movie div.legend {
  font-size: .8em;
  line-height: 1.1125em;
  margin: 2px auto 2px auto;
  text-align: left;
  width: 180px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==content ===image-right, movie-right */
  
.content div.image-right,
.content div.movie-right {
  float: right;
  margin: 0 0 10px 10px; padding: 0 15px 0 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==content ===image-big, movie-big */
  
.content div.image-big,
.content div.movie-big {
  margin-bottom: 20px;
  width: 530px;
}

.content div.image-big div.image-wrapper,
.content div.movie-big div.movie-wrapper,
.content div.image-big div.legend,
.content div.movie-big div.legend {
  width: 13cm;
}
#col-content div.image-big div.image-wrapper, #col-content div.image-big div.legend  {
  width: 13cm;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==content ===list */
  
.content ol,
.content ul {
  padding: 0 15px 15px 30px;
}

.content ul li {
  line-height: 1.375em;
}

.content ol li {
  font-size: .75em;
  line-height: 1.375em;
  list-style-type: decimal;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==content ===address */
  
.content div.address {
  float: none;
  width: auto; 
  font-size: .75em;
  line-height: 1.333em;
  padding: 0 15px 15px 15px;
}

.content div.address div.contact-person {
  padding: 10px 0;
}

.content div.address div.contact-person h3 {
  margin-bottom: 3px;
}

.content div.address div.contact-person div {
  font-size: .75em;
  line-height: 1.375em;
  padding: 0 15px;
}

.content div.address h2 {
  padding-top: 0;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==content ===linklist */
  
.content div.linklist {
  margin-bottom: 20px;
}
  
.content div.linklist-in-text {
  float: left;
}

.content div.linklist-anchors {
  clear: left; float: none;
  margin-top: 5px;
}

.content div.linklist ul {
  padding: 0 15px;
}

.content div.linklist li {
  background-position: left 0.4375em;
  background-repeat: no-repeat;
  line-height: 1.5em;
  list-style-type: none;
  padding-left: 18px;
}
.content div.linklist h2 {
  padding-top: 0;
}
.content div.linklist li.anchor-link {
  background: transparent url(../img/icon_anchor_link.png) no-repeat scroll 0 0.48em;
  background-repeat: no-repeat;
  padding: 5px 0 5px 15px;
}
#cols li.anchor-link {
  background: transparent url(../img/icon_anchor_link.png) no-repeat scroll 0 0.48em;
  background-repeat: no-repeat;
  padding: 5px 0 5px 15px;
}
.content div.linklist li.external-link {
  background: transparent url(../img/external-link.png) no-repeat scroll 0 0.48em;
  background-repeat: no-repeat;
  padding: 5px 0 5px 15px;
}
#cols li.external-link {
  background: transparent url(../img/external-link.png) no-repeat scroll 0 0.48em;
  background-repeat: no-repeat;
  padding: 5px 0 5px 15px;
}
div.linklist li.internal-link {
  background: transparent url(../img/link.png) no-repeat scroll 0 0.48em;
  background-repeat: no-repeat;
  padding: 5px 0 5px 15px;
}
#cols li.link {
  background: transparent url(../img/link.png) no-repeat scroll 0 0.48em;
  background-repeat: no-repeat;
  padding: 5px 0 5px 15px;
}
.content div.linklist li.download {
  background: transparent url(../img/icon_download.png) no-repeat scroll 0 0.48em;
  background-repeat: no-repeat;
  padding: 5px 0 5px 15px;
}
#cols li.download {
  background: transparent url(../img/icon_download.png) no-repeat scroll 0 0.48em;
  background-repeat: no-repeat;
  padding: 5px 0 5px 15px;
}
.content div.linklist li.popup {
  background: transparent url(../img/icon_popup.png) no-repeat scroll 0 0.48em;
  background-repeat: no-repeat;
  padding: 5px 0 5px 15px;
}
#cols li.popup {
  background: transparent url(../img/icon_popup.png) no-repeat scroll 0 0.48em;
  background-repeat: no-repeat;
  padding: 5px 0 5px 15px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==content ===separator */
  
.content div.hr {
  border-top: 1px solid #FFF;
  clear: both; float: none;
  padding-top: 20px;
}

.content div.hr hr {
  display: none;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==content ===sitemap */

.content div.sitemap-wrapper {
  background: #FFF;
  margin-left: 2px;
  overflow: auto;
  padding: 0;
  width: 558px;
}

.content div.sitemap {
  background: url(../img/sitemap-bg.png);
}

.content div.sitemap ul {
  padding: 0;
}

.content div.sitemap ul ul {
  background: #F5F5F5;
}
  
.content div.sitemap li {
  background: #FFF;
  display: block;
  padding-top: 8px;
  width: 558px;
}

.content div.sitemap li a {
  display: block;
  font-weight: bold;
  padding: 6px 10px 3px 18px;
  text-decoration: none;
}

.content div.sitemap li a:hover {
  text-decoration: underline;
}

.content div.sitemap li li {
  background: none !important;
  border-bottom: 1px solid #FFF;
  float: none;
  margin: 0; padding: 0;
}

.content div.sitemap li li a {
  background: url(../img/nav-arrow-right.png) no-repeat 18px 9px !important;
  background-color: #F5F5F5 !important;
  font-size: 1.333em; font-weight: normal;
  line-height: 1.25em;
  padding: 5px 10px 3px 28px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==content ===webform */
  
.content div.webform-wrapper {
  background: #F5F5F5;
  margin-left: 2px;
  padding: 15px 0 0 0;
  width: 558px;
}

.content div.webform .error-field {
  border: 1px solid #600;
}

 
.content div.webform div.captcha {
  float: left;
}

.content div.webform div.captcha img {
  margin: 23px 0 0 0;
}

.content div.webform div.clear {
  clear: both;
}

.content div.webform div.error-message {
  font-size: .6875em; font-weight: bold;
  margin-bottom: 15px;
}

.content div.webform div.fe-block {
  display: inline;
  float: left;
  margin-right: 12px;
}

.content div.webform div.fe-inline {
  clear: both; float: none;
  padding: 12px 0 3px 0;
}

.content div.webform div.fieldset {
  padding: 0 15px;
}

.content div.webform div.fieldset-submit {
  border-top: 2px solid #FFF;
  height: 24px;
  margin-top: 10px;
}

.content div.webform div.le {
  font-size: .6875em;
  line-height: 1.125em;
  padding: 12px 0 3px 0;
}

.content div.webform div.le label {
  font-size: 1.125em;
  line-height: 1em;
}

.content div.webform div.le-first {
  padding: 0 0 3px 0;
}

.content div.webform div.no-margin {
  margin: 0;
}

.content div.webform div.notice {
  clear: both;
  font-size: .75em;
  padding-top: 30px;
}

.content div.webform h3 {
  margin: 0;
  padding: 12px 0 0 0;
}

.content div.webform input {
  display: inline !important;
  float: left;
  font-size: .6875em;
}

.content div.webform .email1,
.content div.webform .email2,
.content div.webform .email4 {
  display: none !important;
}

.content div.webform .formfield input {
  border: 1px solid #D3D3D3;
  float: none;
  width: 255px;
}

.content div.webform input.button {
 display: none;
}

.content div.webform input.radio {
  border: none;
  float: none;
  vertical-align: middle;
  width: auto;
}

.content div.webform input.width25 {
  float: left;
  margin-right: 5px;
  width: 85px;
}

.content div.webform input.width75 {
  float: left;
  margin: 0 !important;
  width: 163px;
}

.content div.webform label {
  font-size: .75em;
}

.content div.webform select {
  border: 1px solid #D3D3D3;
  font-size: .6875em;
  min-width: 260px;
}

.content div.webform span.option-group-label {
  font-size: .75em;
}

.content div.webform textarea {
  border: 1px solid #D3D3D3;
  font-size: .6875em;
  width: 525px;
}

.content div .recipient {
  width: 253px;
  border: 1px solid #D3D3D3;
  padding: 0pt 1px;
  background: white;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==content ===search */
  
.content div.detail-search-closed-hidden {
  background: #FFF;
  border: 1px solid #D3D3D3;
  display: none;
  height: 1.5625em;
  line-height: 1.375em;
  margin: 10px 15px 0 15px; padding-left: 15px;
  position: relative;
}

.content div.detail-search-closed-hidden a {
  font-size: .75em; font-weight: bold;
}

.content div.detail-search {
  background: #FFF;
  border: 1px solid #D3D3D3;
  line-height: 1.375em;
  margin: 10px 15px 0 15px; padding-left: 15px;
  position: relative;
}

.content div.detail-search form {
  padding-bottom: 15px;
}

.content div.detail-search h5 {
  font-size: .75em;
  margin-top: 1px;
}

.content div.detail-search h5 a {
  font-size: 1em;
}

.content div.detail-search div.checkbox-group {
  float: left;
  width: 265px;
}

.content div.detail-search div.fieldset {
  padding-top: 15px;
}

.content div.detail-search div.form-row {
  clear: both; float: none;
}

.content div.detail-search label,
.content div.detail-search span.label {
  display: block; float: left;
  font-size: .75em;
  width: 220px;
}

.content div.detail-search input,
.content div.detail-search select {
  border: 1px solid #D3D3D3;
  width: 265px;
}

.content div.detail-search div.checkbox-group input.checkbox {
  border: none;
  display: block; float: left;
  margin-top: 5px;
  width: auto;
}

.content div.detail-search div.checkbox-group label {
  clear: none; float: left;
  width: auto;
}

.content div.detail-search select {
  font-size: .75em;
  width: 267px;
}

.content div.detail-search select.numbers,
.content div.detail-search select.numbers option {
  text-align: right;
}

.content a.button {
  display: none;
}

.content .maximize {
  display: none;
}

.content .minimize {
  display: none;
}

.content .button:hover {
  text-decoration: none;
}

.content div.link-searchtype {
  padding: 0 15px;
}

.content div.link-searchtype a {
  background: url(../img/link.png) no-repeat left center;
  font-size: .75em;
  padding-left: 18px;
}

.content div.fast-search {
  overflow: auto;
  margin-top: 10px; padding: 0 15px;
}

.content div.fast-search input {
  border: 1px solid #D3D3D3;
  display: inline; float: left;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
  width: 140px; height: 17px;
}

.content div.fast-search input,
.content div.fast-search label {
  font-size: .75em;
}

.content div.fast-search label {
  clear: left; display: inline; float: left;
  line-height: 18px;
  margin-right: 10px;
}

.content div.fast-search input.submit {
  border: none;
  margin-left: 2px;
  width: auto; height: auto;
}

.content div.results {
  background: #FFF;
  border: 1px solid #D3D3D3;
  margin: 0 15px 0 15px; padding: 15px;
}

.content div.results ul {
  margin: 0; padding: 0;
}

.content div.results li {
  list-style: none;
  margin: 0 0 10px 0; padding: 0;
}

.content div.results li div.paragraph {
  font-size: 1em;
  padding: 0 0 5px 0;
}

.content div.results li div.paragraph a {
  font-size: 1em; font-weight: bold;
  text-decoration: underline;
}

.content div.results li div.paragraph span.category {
  display: inline-block;
  margin-right: 20px;
}

.content div.tabs {
  margin-top: 20px;
}

.content div.tabs ul {
  margin: 0; padding: 0 15px;
  height: 24px;
  overflow: visible;
}

.content div.tabs li {
  background: url(../img/tab.jpg) #FFF;
  display: block; float: left;
  list-style: none;
  margin-right: 1px;
  height: 24px;
}

.content div.tabs li.active {
  background: url(../img/tab-active.jpg) #FFF;
  height: 25px;
}

.content div.tabs li.active h5 {
  background: url(../img/tab-active-left.jpg) no-repeat;
  height: 25px;
}

.content div.tabs li.active h5 a {
  background: url(../img/tab-active-right.jpg) right top no-repeat;
  font-weight: bold;
  height: 25px;
}

.content div.tabs li h5 {
  background: url(../img/tab-left.jpg) no-repeat;
  height: 24px;
  padding-left: 10px;
}

.content div.tabs li h5 a {
  background: url(../img/tab-right.jpg) right top no-repeat;
  display: block;
  font-weight: normal;
  height: 24px;
  line-height: 24px;
  padding-right: 10px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==content ===pagination */
  
.content div.pagination {
  position: absolute;
  width: 528px;
  padding: 20px 15px 0 15px;
}

.content div.pagination div.next {
  background: none !important;
  float: right;
}

.content div.pagination div.next a {
  display: inline-block;
  font-size: .75em;
  line-height: 1.375em;
}

.content div.pagination div.jumpers span {
  display: inline-block; float: left;
  font-size: .75em;
  line-height: 1.375em;
  margin-right: 5px;
}

.content div.pagination div.jumpers ul {
  float: left;
  margin: 0; padding: 0;
}

.content div.pagination div.jumpers li {
  display: inline; float: left;
  list-style-type: none;
  margin: 0 5px; padding: 0;
}

.content div.pagination div.jumpers li a {
  background: none !important;
  font-size: 1em;
  padding: 0 !important;
  text-decoration: underline;
}

.content div.pagination div.jumpers li.active {
  font-weight: bold;
  text-decoration: none;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==presentation */
  
#presentation-bg {
  display: none;
}

#presentation {
  display: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==commercials */
  
.box-commercial {
  display: none;

}

.box-commercial div.image {
  display: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==e-mailadressen als grafik */
  
img.sp-email {
  margin: 0;
  padding: 0 0 1px 0;
  vertical-align: bottom;
}

a:link.sp-mailto, a:visited.sp-mailto {
  border-width: 0;
  text-decoration: none !important;
}

a:hover.sp-mailto, a:active.sp-mailto {
  border-width: 0 0 1px 0;
  border-style: solid;
  text-decoration: none !important;
}

a.sp-mailto img.sp-email {
  padding: 0 0 2px 0;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==bilder-grossansicht (popup) in der Seite */
  
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1001;
  overflow: hidden;
}

#overlay .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000 none repeat scroll 0 0;
  filter: alpha(opacity = 20);
  opacity: 0.2;
  z-index: 100;
}

#overlay #imgZoom {
  position: relative;
  top: 0;
  left: 0;
  width: 1px;
  margin: auto;
  border: 1px solid #868686;
  background: white none repeat scroll 0 0;
  z-index: 1000;
}

#imgZoom .navi {
  position: relative;
  height: 28px;
  border-bottom: 1px solid #868686;
  text-align: left;
  overflow: hidden;
}

#imgZoom span.prev, #imgZoom span.next,
#imgZoom a.prev:link, #imgZoom a.prev:visited,
#imgZoom a.next:link, #imgZoom a.next:visited {
  width: 21px;
  height: 13px;
  display: block;
  text-decoration: none;
  line-height: 1000px;
  text-indent: 25px;
  overflow: hidden;
  float: left;
}

#imgZoom .prev {
  margin: 10px 0 0 7px;
}

#imgZoom .next {
  margin: 10px 0 0 3px;
}

#imgZoom span.prev {
  background: url(../img/arw_left_inaktiv.gif);
}

#imgZoom a.prev:link, #imgZoom a.prev:visited {
  background: url(../img/arw_left_normal.gif);
}

#imgZoom a.prev:focus, #imgZoom a.prev:hover {
  background: url(../img/arw_left_hover.gif);
}

#imgZoom a.prev:active {
  background: url(../img/arw_left_down.gif);
}

#imgZoom span.next {
  background: url(../img/arw_right_inaktiv.gif);
}

#imgZoom a.next:link, #imgZoom a.next:visited {
  background: url(../img/arw_right_normal.gif);
}

#imgZoom a.next:focus, #imgZoom a.next:hover {
  background: url(../img/arw_right_hover.gif);
}

#imgZoom a.next:active {
  background: url(../img/arw_right_down.gif);
}

#imgZoom a.close:link, #imgZoom a.close:visited {
  position: absolute;
  right: 2px;
  padding: 0 5px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  line-height: 28px;
  display: block;
}

#imgZoom img {
  margin: 14px 0;
  border: 0;
  padding: 0;
}

#imgZoom .legend {
  position: relative;
  width: 550px;
  margin: 12px auto;
  padding: 0;
  min-height: 12px;
  text-align: left;
  font-size: 0.75em;
}

#imgZoom .copyright {
  position: absolute;
  top: 0;
  right: 16px;
  width: 25%;
  text-align: right;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  ==bildergalerie (popup) */

body.gallery {
  padding: 0;
  background: #FFFFFF;
}
body.gallery #page {
  width: 714px;
  margin: 7px auto;
  border: 1px solid #D6DEDE;
}
body.gallery h1 {
  width: 634px;
  height: 20px;
  margin: -1px 0 0 -1px;
  padding: 13px 0 0 82px;
  background: url(../img/gallery-top.png) no-repeat 0 0;
  font-size: 0.6875em;
  text-align: left;
}
body.gallery #content {
  position: relative;
  background: #F8F8F8;
  text-align:left;
}
body.gallery h3 {
  width: 550px;
  height: 35px;
  line-height: 1.35em;
  margin: 0 auto;
  padding: 20px 0 0 0;
  font-weight: normal;
  font-size: 0.75em;
  overflow: hidden;
}
body.gallery #content .image {
  width: 550px;
  height: 550px;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}
body.gallery #content .info {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 15px;
  font-size: 0.75em;
}
body.gallery #content .navi-left {
  position: absolute;
  top: 70px;
  left: 8px;
}
body.gallery #content .navi-right {
  position: absolute;
  top: 70px;
  right: 8px;
}
body.gallery #content span.first {
  background: #D9D9D9 url(../img/btn_first_inaktiv.gif);
}
body.gallery #content span.prev {
  background: #D9D9D9 url(../img/btn_prev_inaktiv.gif);
}
body.gallery #content span.next {
  background: #D9D9D9 url(../img/btn_next_inaktiv.gif);
}
body.gallery #content span.last {
  background: #D9D9D9 url(../img/btn_last_inaktiv.gif);
}
body.gallery #content a.first:link, body.gallery #content a.first:visited {
  background: #FFFFFF url(../img/btn_first_normal.gif);
}
body.gallery #content a.prev:link, body.gallery #content a.prev:visited {
  background: #FFFFFF url(../img/btn_prev_normal.gif);
}
body.gallery #content a.next:link, body.gallery #content a.next:visited {
  background: #FFFFFF url(../img/btn_next_normal.gif);
}
body.gallery #content a.last:link, body.gallery #content a.last:visited {
  background: #FFFFFF url(../img/btn_last_normal.gif);
}
body.gallery #content a.first:focus, body.gallery #content a.first:hover {
  background: #E5E5E5 url(../img/btn_first_hover.gif);
}
body.gallery #content a.prev:focus, body.gallery #content a.prev:hover {
  background: #E5E5E5 url(../img/btn_prev_hover.gif);
}
body.gallery #content a.next:focus, body.gallery #content a.next:hover {
  background: #E5E5E5 url(../img/btn_next_hover.gif);
}
body.gallery #content a.last:focus, body.gallery #content a.last:hover {
  background: #E5E5E5 url(../img/btn_last_hover.gif);
}
body.gallery #content span.first, body.gallery #content span.prev, body.gallery #content span.next, body.gallery #content span.last,
body.gallery #content a.first:link, body.gallery #content a.first:visited,
body.gallery #content a.prev:link, body.gallery #content a.prev:visited,
body.gallery #content a.next:link, body.gallery #content a.next:visited,
body.gallery #content a.last:link, body.gallery #content a.last:visited {
  width: 29px;
  height: 29px;
  line-height: 1000px;
  margin: 0 1px;
  border: 1px solid #CCCCCC;
  display: block;
  float: left;
  overflow: hidden;
  text-decoration: none;
  text-indent: 35px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
/* =================================================== */
/* ++++++++++++++++++++  Farben  ++++++++++++++++++++ */
/* ================================================= */

body {
  color: #000000;
}
#col-content-teaser-wrapper {
  color: #303030;
}
h1 {
  color: #303030;
}
h2, h2 a:link, h2 a:visited {
  color: #303030;
}
h3, legend {
  color: #303030;
}
h4 {
  color: #303030;
}
h5 {
  color: #303030;
}
h6 {
  color: #303030;
}
a:link, a:visited {
  color: #000000;
}
#navipath .navitext {
  color: #303030;
}
#navipath .navilink {
  color: #303030;
}
.image .legend,
.movie .legend {
  color: #303030;
}
.linkDownload h3 {
  color: #000000;
}
.box-whead h2, .box-wohead h2,
.box-whead-closed h2, .box-wohead-closed h2 {
  color: #303030;
}
#header-wrapper, #navigation-service {
  color: #303030;
}
#navigation-service a:link, #navigation-service a:visited {
  color: #303030;
}
#navigation-service a:hover, #navigation-service a:active {
  color: #303030;
}
 a:link.more, a:visited.more, a:hover.more, a:active.more {
  color: #000000;
}
.home .quicklinks a:link, .home .quicklinks a:visited {
  color: #CDDCE1;
}
.box-whead a:link, .box-whead a:visited,
.box-wohead a:link, .box-wohead a:visited {
  color: #000000;
}
.box-whead .topic-b .contact a,
.box-wohead .topic-b .contact a {
  color: #000000;
}
.box-whead h2 a:link, .box-whead h2 a:visited,
.box-wohead h2 a:link, .box-wohead h2 a:visited {
  color: #303030;
}
.home .box-whead h2 a:link, .home .box-whead h2 a:visited,
.home .box-wohead h2 a:link, .home .box-wohead h2 a:visited {
  color: #303030;
}
#navipath .navilink a:link, #navipath .navilink a:visited {
  color: #303030;
}
#search .btn-search {
  color: #000000;
}
#mainmenu .menu a:link, #mainmenu .menu a:visited {
  color: #000000;
}
#mainmenu .menu a:active, #mainmenu .menu a:hover {
  color: #000000;
}
#mainmenu .menu a:visited.active, #mainmenu .menu a:link.active {
  color: #000000;
}
#mainmenu .menu li.active a {
  color: #000000 !important;
}
#submenu {
  color: #303030;
}
#submenu ul li a:link, #submenu ul li a:visited, #submenu ul li a:active, #submenu ul li a:hover {
  color: #303030;
}
#submenu li.active a:link, #submenu li.active a:visited {
  color: #303030;
}
#submenu li.active li a:link, #submenu li.active li a:visited {
  color: #303030;
}
#submenu li li.active a:link, #submenu li li.active a:visited {
  color: #303030 !important;
}
#submenu li li.active li a:link, #submenu li li.active li a:visited {
  color: #303030 !important;
}
#submenu li li li.active a:link, #submenu li li li.active a:visited {
  color: #303030 !important;
}
#submenu li li li.active li a:link, #submenu li li li.active li a:visited {
  color: #303030 !important;
}
#submenu li.path a:link, #submenu li.path a:visited {
  color: #303030;
}
#submenu li.path li a:link, #submenu li.path li a:visited {
  color: #303030;
}
#submenu li li.path a:link, #submenu li li.path a:visited {
  color: #303030;
}
#submenu li li.path li a:link, #submenu li li.path li a:visited {
  color: #303030;
}
#submenu li li li.path a:link, #submenu li li li.path a:visited {
  color: #303030;
}
#submenu li li li li.path a:link, #submenu li li li li.path a:visited {
  color: #303030;
}
#col-content .webform label {
  color: #2C2C2C;
}
#col-content .webform input.button {
  color: #333333;
}